<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <% errors.forEach(error=> { %>
        <p>
            <%= error %>
        </p>
    <% }) %>
    
    <h1>Login</h1>

    <form action="/auth/local/login" method="post">
        <input type="text" name="username" placeholder="username" required>
        <br>

        <input type="password" name="password" placeholder="password" required>
        <br>

        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="/signup">Don't have an account yet? Signup</a>
    <br>
    <a href="/auth/facebook/">Sign in with Facebook</a>
</body>

</html>