<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <% errors.forEach(error=> { %>
        <p>
            <%= error %>
        </p>
    <% }) %>

    <form action="/auth/local/signup" method="post">
        <input type="email" name="email" placeholder="email" required>
        <br>

        <input type="text" name="username" placeholder="username" required>
        <br>

        <input type="password" name="password" placeholder="password" required>
        <br>

        <input type="url" name="profile_pic" placeholder="your profile picture link">
        <input type="submit" value="Submit">
    </form>
</body>

</html>